<?xml version="1.0" encoding="ISO-8859-1"?>
<dialog icon="/icons/sms_http.png" columns="1" closable="true" bottom="10" close="removeDialog(this)" gap="8" left="10" modal="true" name="pnSmsInternetServiceSettings" right="10" top="10" text="i18n.smsdevice.internet.settings" width="320" height="300">
	<list action="selectionChanged(this, pnButtons)" weightx="1" weighty="1" delete="showConfirmationDialog('removeServices')" name="lsSmsInternetServices" selection="multiple" perform="configureService(this)"/>
	<panel name="pnButtons" gap="8" weightx="1">
		<button name="btEdit" weightx="1" text="i18n.action.edit" icon="/icons/smsdevice/internet/edit.png" action="configureService(lsSmsInternetServices)"/>
		<button name="btDelete" weightx="1" text="i18n.action.delete" icon="/icons/smsdevice/internet/delete.png"  action="showConfirmationDialog('removeServices')"/>
		<button name="btNew" weightx="1" text="i18n.action.new" icon="/icons/smsdevice/internet/new.png" action="showNewServiceWizard"/>
	</panel>
    <button action="removeDialog(pnSmsInternetServiceSettings)" icon="/icons/cross.png" name="btClose" text="i18n.action.close" halign="center"/>
</dialog>
